idotmatrix-swift/.DS_Store
.DS_Store
idotmatrix-swift.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
idotmatrix-swift.xcodeproj/project.xcworkspace/xcuserdata/aviwad.xcuserdatad/UserInterfaceState.xcuserstate
